@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal.css");
@import url("https://github.backroomswiki.cn/Old_BHL/css/sidebar.css");
 
:root {
   --logo-image: url("https://s41.ax1x.com/2026/07/10/pmsP8te.png");
   --header-title: "The Backrooms MSA";
   --header-subtitle: "你应该来过这里";
}
