@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal.css");
@import url("https://github.backroomswiki.cn/Old_BHL/css/sidebar.css");
 
:root {
   --logo-image: url("http://backrooms-msa.wikidot.com/local--files/start/1780141168085.png");
   --header-title: "The Backrooms MSA";
   --header-subtitle: "你应该来过这里";
}
