@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal.css");
@import url("https://github.backroomswiki.cn/Old_BHL/css/sidebar.css");
 
:root {
   --logo-image: url("https://raw.githubusercontent.com/jjsjsjxiaowang/backroomsmsa/eacf8e575fd5eff5473b49427551e2fea487720a/FreeSample-Vectorizer-io-1785730666997.svg");
   --header-title: "The Backrooms MSA";
   --header-subtitle: "你应该来过这里";
}
